google-cloud-aiplatform
psycopg2-binary
langchain
langchain_google_vertexai
langchain_community
langchain_core
langchain_text_splitters
vertexai
google-cloud-bigquery
google-cloud-logging
google-cloud-secret-manager
cloud-sql-python-connector
sqlalchemy
streamlit
chromadb
pypdf
pg8000
psycopg2-binary
uuid